@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: #FFFFFF;
  --clr-black: #000000;
  --clr-blue: #00d9ff;
  --clr-purple: #6418c9;
  --clr-dark-purple: #6418c9;
}

body {
  margin: 0;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  max-width: 1200px;
  margin: 20px auto 0;

  font-size: 2.15em;
}

h2:not(.product__overview h2) {
  padding-left: 20px;
}

/* ------------------------------------------------------ */
/* -- NAVIGATION -- */

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  background-color: var(--clr-purple);
}

.nav__brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__brand img {
  max-width: 125px;
  height: auto;
}

.nav__brand h1 {
  color: var(--clr-white);
  font-family: 'Poppins', sans-serif;
  font-size: 2.3em;
}

.nav__links {
  background-color: var(--clr-black);
  grid-column: 1 / span 3;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}

.navfilters {
  background-color: var(--clr-purple);
}

.nav__links li {
  margin: 0 15px;
}

.nav__links li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--clr-white);
  padding: 0 2rem;

}

.nav__links li a:hover {
  color: rgb(219, 220, 221);
  ;
}

.nav__search {
  padding: 10px;
  border-radius: 6px;
  min-width: 50%;
  margin: .6rem 0;
  font-family: 'Roboto', sans-serif;
}

.nav__search:hover {
  outline: 1px solid var(--clr-orange);
}

.nav__connect {
  width: 180px;
  height: 40px;
  margin: 0 auto;

  background-color: var(--clr-white);
  color: var(--clr-black);

  border: none;
  border-radius: 4px;

  font-family: 'Roboto', sans-serif;

  font-size: 1.3rem;
  font-weight: 600;

  cursor: pointer;
  transition: all .6s ease;
}


.nav__connect:hover {
  background-color: var(--clr-blue);
}

/* home section */
.home_title {
  font-family: 'Roboto', sans-serif;
  ;
}

/* ------------------------------------------------------ */
/* -- CARDS -- */

.cards__section {
  max-width: 1200px;
  margin: 0 auto 50px;
  padding: 0 20px;
}

.best_seller_heading {
  font-size: 2.6rem;
  font-weight: 500;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.cards__section h3 {
  font-size: 1.8rem;
  margin: 12px 0;
  font-weight: 500;
  color: var(--clr-dark-purple);
  font-family: 'Poppins', sans-serif;
}


.cards {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  margin-top: 20px;
}

.card {
  width: 300px;
  height: 400px;
  margin: 10px auto;
  cursor: pointer;
  position: relative;
  transition: all 250ms ease;
}

.card:hover {
  box-shadow: 0 0 5px var(--clr-grey);
  scale: 1.04;
}

.card__image {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card__image img {
  max-width: 100%;
}

.card__info {
  width: 100%;
  background-color: var(--clr-white);
  padding: 5px 10px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
}

.card__info h4 {
  font-size: 1.25em;
  font-weight: 400;

}

.card__info .rating {
  color: yellow;
  margin: 5px 0;
  display: flex;

}

.card__info p {

  font-size: 0.95em;
  font-weight: 600;
  margin-top: 5px;
}

/* ------------------------------------------------------ */
/* -- PRODUCT -- */

.product {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product__details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  align-items: center;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Poppins', sans-serif;
  background: var(--clr-white);
}

.rating {
  display: flex;
}

.product__image {
  max-width: 500px;
  margin: 20px auto;
}

.product__image img {
  max-width: 100%;
}

.product__close {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 30px;
  height: 30px;

  background: transparent;
  border: none;

  cursor: pointer;
}

.product__close img {
  width: 25px;
  height: 25px;
}

.product__overview {
  height: 90%;
  padding: 20px 40px 20px 20px;
}

.product__overview h2,
.product__overview hr,
.product__overview .rating {
  margin: 10px auto;
}

.product__overview ul {
  margin-left: 40px;
}

.product__order {
  max-width: 300px;
  height: 90%;

  border: 1px solid var(--clr-grey);
  padding: 20px;
}

.product__order h1,
.product__order p {
  margin-bottom: 10px;
}

.product__buy {
  width: 225px;
  height: 40px;
  margin: 20px 0;

  background-color: var(--clr-dark-purple);
  color: var(--clr-white);

  border: none;
  border-radius: 24px;


  font-size: 0.95em;
  font-weight: 600;

  cursor: pointer;
  transition: all .6s ease;
}

.product__buy:hover {
  background-color: var(--clr-blue);
  color: var(--clr-black);

}

.product__bought {
  padding: 5px;
  border: 1px solid var(--clr-purple);
}

/* testmonial */
.testmonial {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Roboto', sans-serif;

}


/* about */
.aboutImg img {
  width: 130px;
}

/* footer */
footer {
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
}

.error-bg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23f0b608' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23e6d710' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23e7af05' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23e7d808' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d8a408' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23f1e213' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23f0b607' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23e4d506' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23eab822' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23e8da14' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23e8b008' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23edde14' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
}

.tracking-tighter-less {
  letter-spacing: -0.75rem;
}

.text-shadow {
  text-shadow: -8px 0 0 rgb(102 123 242);
}


@media screen and (max-width: 992px) {
  .product__details {
    height: 95%;
    width: 90%;
  }

  .product__order {
    max-width: 100%;
    height: 100%;
    margin-top: 20px;
    grid-column: span 2;
  }
}

@media screen and (max-width: 768px) {
  nav {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav__links {
    display: none;
  }

  .nav__search {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .product__details {
    height: 95%;
    overflow-y: scroll;
  }

  .product__image {
    grid-column: span 2;
  }
}